.a{
  height: 600px;
  width: 400px;
  border: 2px solid maroon;
  margin: 50px 650px;
  background-color:rgb(245, 245, 245);
  text-align: center;
  font-size: 15px;


}
#z{
  color: red;
}


.b{
  display: inline-block;
}

.c{
  height: 30px;
  width: 300px;
}
