
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
   margin-bottom: 300px;
   font-size: 12px;
}


.a {
  flex: 1;
  text-align: left;
  margin-top: 50px;
}

.b {
  color: rgba(0, 0, 255, 0.78);
  font-size: 60px;
  
}


.c {
  width: 400px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 200px;
  margin-left: 225px;
}


.d {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  
}


.e {
  width: 100%;
  height: 40px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.e:hover {
  background-color: #166fe5;
}


.f {
  display: block;
  color: #1877f2;
  text-decoration: none;
  margin: 10px 0;
}

.f:hover {
  text-decoration: underline;
}


.h {
  width: 100%;
  height: 40px;
  background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.h:hover {
  background-color: #36a420;
}


hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}


.create-page {
  font-size: 14px;
  color: #606770;
  margin-top: 15px;
}
h3
{
  font-size: 15px;
}